<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Invoice_Services.TC_10_All_Company"/>
      <class name="Entity_Service.TC_27_bill_Summary"/>
      <class name="Entity_Service.TC_19_entity_relations"/>
      <class name="Receivable_aging_by_invoices.receivable_agings"/>
      <class name="NBFC2.TC_16_NBFC_Add_all_Fields"/>
      <class name="Mis_report_companies.Companies_Not_Done_Payment"/>
      <class name="Entity_Service.TC_06_Discount_Mapping_Controller"/>
      <class name="Add_NBFC.TC_15_NBFC_Status_Post"/>
      <class name="Auth_Services.TC_10_Logout"/>
      <class name="Add_NBFC.TC_14_NBFC_IFSC_Post"/>
      <class name="Entity_Service.TC_25_discount_get_single_plan"/>
      <class name="Company_summary.Company_details"/>
      <class name="User_service.TC_13_get_User_Details"/>
      <class name="Entity_Service.TC_04_Update_Company"/>
      <class name="Auth_Services.TC_6_Invalid_Scenario_SendOTP"/>
      <class name="Ledger_service.TC_10_get_mis_report_invoice"/>
      <class name="Collection_Service.TC_06_Get_Waver_Payment_History"/>
      <class name="Mis_report_KYC.date_range"/>
      <class name="Credit_Note.TC_02_Credit_note_manual"/>
      <class name="Create_plan_get.TC_01_Get_Credit_Plan"/>
      <class name="NBFC.TC_17_NBFC_get_by_wrong_id"/>
      <class name="Auth_Services.TC_9_Unblock_user"/>
      <class name="Invoice_Services.TC_27_change_invoice_status"/>
      <class name="Add_NBFC.TC_03_NBFC_Email_Post"/>
      <class name="Payment_Service.TC_11_CIH_PayNowCal"/>
      <class name="Entity_Service.TC_03_Add_Entity"/>
      <class name="Transaction_ledger.transaction_ledger_select_patner"/>
      <class name="NBFC.TC_30_NBFC_disbursment_CRON"/>
      <class name="Payment_Service.TC_07_Transaction_History"/>
      <class name="Invoice_Services.TC_12_NT_Manual_Invoice_upload"/>
      <class name="Invoice_Services.TC_16_Filter_Invoice"/>
      <class name="User_service.TC_15_comp_staff_relation"/>
      <class name="Auth_Services.TC_5_Send_OTP"/>
      <class name="Ledger_service.TC_15_invoice_summary"/>
      <class name="Invoice_Services.TC_19_Upload_Invoice_Excel"/>
      <class name="Mis_report_companies.Companies_onboarded"/>
      <class name="NBFC.TC_10_NBFC_reconcellation_file_upload"/>
      <class name="Entity_Service.TC_08_Add_Comment"/>
      <class name="Collection_Service.TC_03_Update_Single_Invoice"/>
      <class name="Mis_Report_invoices.Consolated_Invoice_Report"/>
      <class name="NBFC.TC_28_NBFC_get_reconcellations"/>
      <class name="Add_NBFC.TC_12_NBFC_Bank_AC_Number_Post"/>
      <class name="Payment_Service.TC_04_All_Bank_Details"/>
      <class name="User_service.TC_18_single_user"/>
      <class name="NBFC.TC_22_NBFC_Edit_by_wrong_details"/>
      <class name="Mis_Report_invoices.invoice_upload"/>
      <class name="KYC.TC_01_Adhar_OCR"/>
      <class name="Mis_Report_invoices.Invoice_Payment_Failed"/>
      <class name="KYC.TC_17_request_otp"/>
      <class name="Mis_Report_invoices.invoices_with_due_date"/>
      <class name="Auth_Services.TC_4_Invalid_Scenario_Sign_In"/>
      <class name="Invoice_Services.TC_01_Get_Invoice_By_Invoice_Id"/>
      <class name="Auth_Services.TC_3_User_Login"/>
      <class name="Company_summary.company_summary_by_company_name"/>
      <class name="Ledger_service.TC_09_get_dashboard_compony_hold"/>
      <class name="Mis_Report_invoices.Automated_Upload_Invoices_Failed"/>
      <class name="Mis_report_collection_report.Collected"/>
      <class name="User_service.TC_12_soft_Delete"/>
      <class name="Ledger_service.TC_11_get_transactions"/>
      <class name="Receivables_statement.receivable_statement"/>
      <class name="Invoice_Services.Tc_17_NT_Manual_Invoice_upload"/>
      <class name="Entity_Service.TC_32_onboard"/>
      <class name="Add_NBFC.TC_05_NBFC_Address_Post"/>
      <class name="Add_NBFC.TC_09_NBFC_Interest_Post"/>
      <class name="NBFC2.TC_11_NBFC_dashboard"/>
      <class name="Mis_report_companies.Companiy_approved_by_Xuriti_admin"/>
      <class name="Mis_Report_invoices.invoice_pending"/>
      <class name="Invoice_Services.TC_35_weekly_cron"/>
      <class name="Invoice_Services.TC_22_fetch_adding_invoices"/>
      <class name="Invoice_Services.TC_33_filter_invoices"/>
      <class name="User_service.TC_09_get_rewards"/>
      <class name="Add_NBFC.TC_08_NBFC_Pin_Code_Post"/>
      <class name="NBFC.TC_05_NBFC_Mapping"/>
      <class name="Mis_Report_invoices.Invoice_Summary"/>
      <class name="Mis_report_companies.Companies_Updated_by_Xuriti_Admin"/>
      <class name="User_service.TC_26_Funded_invoices"/>
      <class name="Mis_report_companies.Companies_With_Credit_Limit_And_Invoices"/>
      <class name="User_Service2.TC_16_Edit_user"/>
      <class name="NBFC.TC_20_NBFC_Mapping_Wrong_url"/>
      <class name="Ledger_service.TC_13_receivable_agings"/>
      <class name="Add_NBFC.TC_06_NBFC_District_Post"/>
      <class name="Entity_Service.TC_24_Plan_details_get"/>
      <class name="Entity_Service.TC_17_local_entites"/>
      <class name="Credit_Note.TC_01_Credit_note_upload"/>
      <class name="Ledger_service.TC_12_receivables_statements"/>
      <class name="Entity_Service.TC_11_Fetch_Entities"/>
      <class name="Entity_Service.TC_10_Discount_Del_Controller"/>
      <class name="Payment_Service.TC_12_get_Seller_list"/>
      <class name="NBFC.TC_03_NBFC_get_by_id"/>
      <class name="Add_NBFC.TC_11_NBFC_Branch_Name_Post"/>
      <class name="Invoice_summary.TC_29_Intrest_Cal"/>
      <class name="Invoice_Services.TC_2_Patch_Company_Status"/>
      <class name="Entity_Service.TC_30_Bussiness_analysis_trend"/>
      <class name="Entity_Service.TC_02_Get_Entity_Details"/>
      <class name="Add_NBFC.TC_04_NBFC_Mobile_Post"/>
      <class name="Entity_Service.TC_31_bulk_credit"/>
      <class name="Add_NBFC.TC_16_NBFC_Post_Blank"/>
      <class name="Mis_report_companies.Company_Pending_Approval_from_Xuriti_Admin"/>
      <class name="User_Service2.TC_19_get_user"/>
      <class name="MIS_report_user.user_with_unverified_emails"/>
      <class name="NBFC.TC_21_NBFC_Mapping_no_seller_id"/>
      <class name="Mis_report_companies.Companies_Nearing_80_Usage"/>
      <class name="NBFC.TC_01_NBFC_Add"/>
      <class name="KYC.TC_09_Vintage_Proof"/>
      <class name="Add_NBFC.TC_02_NBFC_Name_Post"/>
      <class name="Mis_Report_invoices.Interest_Charged_On_Invoice"/>
      <class name="Invoice_summary.TC_31_total_invoice_details"/>
      <class name="Mis_Report_invoices.Invoices_paid"/>
      <class name="Collection_Service.TC_07_Get_audit_log"/>
      <class name="Payment_Service.TC_10_Vouch_Payment"/>
      <class name="KYC.TC_06_Firm_Partnership_proof"/>
      <class name="Ledger_service.TC_04_get_ledger"/>
      <class name="NBFC.TC_07_NBFC_get_Mapped"/>
      <class name="Invoice_Services.TC_23_settled_invoices"/>
      <class name="Entity_Service.TC_05_Discount_Controller"/>
      <class name="Mis_Report_invoices.invoice_approved"/>
      <class name="Mis_Report_invoices.invoice_partially_paid"/>
      <class name="Invoice_Services.TC_21_Add_Comment"/>
      <class name="Mis_report_collection_report.Escalated"/>
      <class name="Invoice_Services.TC_25_post_credit_note"/>
      <class name="Invoice_Services.TC_26_invoice_format"/>
      <class name="MIS_report_nbfc.list_of_onboarded"/>
      <class name="Entity_Service.TC_01_Search_GST"/>
      <class name="Entity_Service.TC_21_Search_gst_v2"/>
      <class name="Ledger_service.TC_05_payment_details"/>
      <class name="User_service.TC_01_Staff_User_Post"/>
      <class name="Ledger_service.TC_06_company_details"/>
      <class name="Invoice_Services.TC_20_Get_Comment"/>
      <class name="Mis_Report_invoices.Discount_allowed_On_Invoice"/>
      <class name="Entity_Service.TC_22_filter_companies"/>
      <class name="Mis_report_companies.Companies_with_more_than_5_Overdue_Invoice"/>
      <class name="Auth_Services.TC_1_Register_User"/>
      <class name="Company_summary.get_dashboard"/>
      <class name="MIS_report_user.user_successful_logins"/>
      <class name="Collection_Service.TC_05_Get_Collection_Staff"/>
      <class name="NBFC.TC_29_nbfc_payment"/>
      <class name="MIS_report_user.users_with_incomplete_registration"/>
      <class name="Payment_Service.TC_02_Add_Bank_Account"/>
      <class name="NBFC.TC_06_NBFC_unmap"/>
      <class name="Invoice_Services.TC_06_Invoice_Amount_Update"/>
      <class name="Invoice_Services.TC_09_Get_Invoice_Comment"/>
      <class name="Invoice_Services.TC_03_Search_Invoice_By_Buyer_Id_type"/>
      <class name="Entity_Service.TC_07_Default_Flag_Controller"/>
      <class name="Pranjal.TC_09_Get_Invoice_Comment"/>
      <class name="MIS_report_nbfc.Disbursment_Statement"/>
      <class name="NBFC.TC_12_NBFC_calender"/>
      <class name="MIS_report_user.Virtual_Accounts_of_dealers"/>
      <class name="Mis_Report_invoices.invoice_reject"/>
      <class name="MIS_report_user.user_registered"/>
      <class name="NBFC.TC_19_NBFC_Mapping_Invalid_Buyer_ID"/>
      <class name="MIS_report_nbfc.Reconcilation_Summary"/>
      <class name="Invoice_Services.TC_32_update_invoice_by_uid"/>
      <class name="NBFC2.TC_25_NBFC_reconcellation_all_fields_blank"/>
      <class name="Entity_Service.TC_13_Get_Entity"/>
      <class name="MIS_report_nbfc.companies_mapped_with_nbfc"/>
      <class name="KYC.TC_11_Phone_request_otp"/>
      <class name="Entity_Service.TC_23_company_status"/>
      <class name="Add_NBFC.TC_10_NBFC_Bank_Name"/>
      <class name="Add_NBFC.TC_13_NBFC_Bank_Holder_Name_Post"/>
      <class name="Entity_Service.TC_15_Get_Comment"/>
      <class name="KYC.TC_07_Ownership_proof"/>
      <class name="Payment_Service.TC_08_Offline_Payment"/>
      <class name="Invoice_Services.TC_08_Add_Invoice_Comment"/>
      <class name="Payment_Service.TC_03_Find_By_Cmp_ID"/>
      <class name="KYC.TC_04_Bussiness_Proof"/>
      <class name="NBFC.TC_04_NBFC_edit_by_id"/>
      <class name="Invoice_Services.Client_Key_genrate"/>
      <class name="User_service.TC_24_retailers"/>
      <class name="User_service.TC_21_COMpanies_Invoices"/>
      <class name="Ledger_service.TC_16_disbursment_statement"/>
      <class name="MIS_report_user.user_unsuccessful_logins"/>
      <class name="Company_summary.calendar"/>
      <class name="NBFC.TC_09_NBFC_mis_report_mapping"/>
      <class name="Invoice_Services.TC_34_wa_invoices"/>
      <class name="MIS_report_user.users_not_looged_in_last_15_days"/>
      <class name="Entity_Service.TC_14_Credit_Limit"/>
      <class name="User_service.TC_25_nbfc_Details"/>
      <class name="Collection_Service.TC_08_Genarate_Payment_Link"/>
      <class name="Add_NBFC.TC_01_NBFC_Post"/>
      <class name="Entity_Service.TC_28_Invoice_pattern"/>
      <class name="Pranjal.TC_10_Interest_Cal"/>
      <class name="Entity_Service.TC_20_get_companies"/>
      <class name="Ledger_service.TC_07_nbfc_dashboard"/>
      <class name="Create_plan_get.TC_02_Create_Plan_Single_Get"/>
      <class name="Auth_Services.TC_2_SignUp_Field_validation"/>
      <class name="NBFC2.TC_27_NBFC_get_disbursment"/>
      <class name="Ledger_service.TC_02_get_MIS_report"/>
      <class name="Invoice_summary.TC_28_Get_companies"/>
      <class name="NBFC2.TC_24_NBFC_reconcellation_one_field_blank"/>
      <class name="Payment_Service.TC_09_Payment"/>
      <class name="Collection_Service.TC_04_Get_Payment_Invoice_History"/>
      <class name="NBFC2.TC_13_NBFC_invoive"/>
      <class name="User_service.TC_10_terms_conditions"/>
      <class name="Payment_Service.TC_01_Changae_Status"/>
      <class name="User_service.TC_22_payment_Details"/>
      <class name="Entity_Service.TC_18_GST_Exists"/>
      <class name="KYC.TC_03_Banking_Details"/>
      <class name="User_service.TC_14_edit_User_Admin"/>
      <class name="Collection_Service.TC_02_Get_Single_Invoices"/>
      <class name="Entity_Service.TC_33_entity_cron"/>
      <class name="Entity_Service.TC_16_Get_Gst_Data"/>
      <class name="Mis_report_collection_report.Collection"/>
      <class name="Ledger_service.TC_01_calender"/>
      <class name="Mis_report_companies.Companies_Phonebook"/>
      <class name="User_service.TC_20_Invoice"/>
      <class name="NBFC2.TC_08_NBFC_mis_report"/>
      <class name="Payment_Service.TC_05_Get_Transactions"/>
      <class name="Mis_Report_invoices.invoice_overdue"/>
      <class name="NBFC.TC_14_NBFC_Blank"/>
      <class name="Mis_report_companies.Companies_Mapping"/>
      <class name="NBFC2.TC_02_NBFC_get_all_"/>
      <class name="Collection_Service.TC_01_Get_Overdue_Invoice"/>
      <class name="Auth_Services.TC_7_Forgot_Password"/>
      <class name="Invoice_Services.TC_24_download_audit_pdf"/>
      <class name="Entity_Service.TC_26_credit_limit_approval"/>
      <class name="Ledger_service.TC_03_ledger_report"/>
      <class name="Auth_Services.TC_8_OTP_Verify"/>
      <class name="KYC.TC_08_Upload_Store_images"/>
      <class name="Ledger_service.TC_08_invoices_dashboard"/>
      <class name="Invoice_Services.TC_05_Get_Entity_summary"/>
      <class name="Entity_Service.TC_12_Check_Entity_Status"/>
      <class name="KYC.TC_02_Pan_verify"/>
      <class name="Mis_report_companies.Companies_with_No_Invoices_as_Seller_or_Buyer"/>
      <class name="KYC.TC_10_get_captcha"/>
      <class name="Payment_Service.TC_13_Payment_Summary"/>
      <class name="User_service.TC_23_retailers_details"/>
      <class name="Mis_report_collection_report.In_Progress"/>
      <class name="NBFC.TC_23_NBFC_reconcellation_manully"/>
      <class name="Payment_Service.TC_06_Findone"/>
      <class name="KYC.TC_05_Financial_GST_Returns"/>
      <class name="Mis_report_companies.Companies_with_No_Invoices_Uploaded"/>
      <class name="Add_NBFC.TC_07_NBFC_State_Post"/>
      <class name="NBFC.TC_26_NBFC_disbursment"/>
      <class name="NBFC2.TC_15_NBFC_Edit_By_wrong_id"/>
      <class name="User_service.TC_17_get_users"/>
      <class name="MIS_report_user.users_with_no_companies"/>
      <class name="Payment_Service.TC_14_Get_Discount_Amount"/>
      <class name="Mis_report_companies.No_of_Buyers_Pending_for_Registration_After_Invoices"/>
      <class name="Payment_Service.TC_15_Get_Interest_Amount"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
